/* Universal styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}
/* Common styling section(DRY) */
.color-primary {
  color: #0945eb;
  font-weight: 700;
}
.color-secondary {
  color: #575757;
  font-weight: 700;
}
.container {
  max-width: 1320px;
  margin: 0 auto;
}
.common-btn {
  background-color: #1d4ed8;
  color: white;
  font-weight: 700;
  font-size: 22px;
  border: none;
  border-radius: 0.5rem;
  padding: 10px 20px;
  cursor: pointer;
}
.common-btn:hover {
  background-color: #2563eb;
  font-weight: 700;
  animation: hoverAnimation 0.3s ease-in-out;
  transition: transform 0.3s ease;
  transform: translateY(-5px);
}
.secondary-btn {
  background-color: #e0f2fe;
  color: #1f2937;
  font-weight: 700;
  border: 1px solid #1f2937;
  border-radius: 0.5rem;
  padding: 10px 20px;
  cursor: pointer;
}

/* Navigation styles are here */
header {
  background-color: #d5e3f2;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  max-width: 1320px;
  margin: 0 auto;
}
ul {
  list-style: none;
  display: flex;
  gap: 20px;
}
ul li a {
  display: inline-block;
  padding: 8px 14px;
  border-radius: 0.5rem;
  color: #1f2937;
  text-decoration: none;

  transition:
    color 0.3s ease,
    background-color 0.3s ease,
    transform 0.3s ease,
    box-shadow 0.3s ease;
}

ul li a:hover {
  color: #2563eb;
  background-color: #e0f2fe;
  transform: translateY(-3px);
  box-shadow: 0 8px 20px rgba(37, 99, 235, 0.15);
}
/* Navigation styles end here */

/* Banner styles here */
.banner-secton {
  background-position: center;
  background-repeat: no-repeat;
  background:
    linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url("./assets/banner.jpg");
  background-size: cover;
  display: flex;
  padding: 1rem 1rem;
  gap: 1.5rem;
  color: white;
  height: 100vh;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.banner-secton h1 {
  font-weight: bolder;
  font-size: 5rem;
}

/* Banner styles end here */

/* Meet the speakers styles here */
.meet-the-speaker-section-container {
  padding: 2rem 1rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  justify-content: center;
  align-items: center;
}
.meet-the-speaker-section-container h1 {
  font-size: 3rem;
  font-weight: 700;
}
.speakers-card-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1.5rem;
}
.speaker-1,
.speaker-2,
.speaker-3,
.speaker-4 {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  background-color: #d5e3f2;
  border-radius: 1rem;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
.speaker-1:hover,
.speaker-2:hover,
.speaker-3:hover,
.speaker-4:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 20px rgba(37, 99, 235, 0.15);
  transition:
    transform 0.3s ease,
    box-shadow 0.3s ease;
}

.speaker-1 img,
.speaker-2 img,
.speaker-3 img,
.speaker-4 img {
  width: 100%;
  height: auto;
  border-radius: 16px 16px 0 0;
}
.speaker-1-text,
.speaker-2-text,
.speaker-3-text,
.speaker-4-text {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

/* Meet the speakers styles end here */

/* Secure your spot section styles here */
.secure-your-spot-section-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.secure-your-spot-pricing-card-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1.5rem;
  padding: 1rem;
}
.card-1,
.card-2,
.card-3 {
  display: flex;
  flex-direction: column;
  padding: 2rem 1.5rem;
  gap: 1rem;
  background-color: #d5e3f2;
  border-radius: 1rem;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
.card-1:hover,
.card-2:hover,
.card-3:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 20px rgba(37, 99, 235, 0.15);
  transition:
    transform 0.3s ease,
    box-shadow 0.3s ease;
}
.card-1 h2,
.card-2 h2,
.card-3 h2 {
  font-size: 1.5rem;
  font-weight: 700;
}
.card-1 p,
.card-2 p,
.card-3 p {
  color: #575757;
  font-weight: 700;
}
.pricing-card-list {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  list-style: disc;
  padding-left: 1.5rem;
  color: #575757;
  font-weight: 700;
}
.card-2 {
  background-color: #0d1b2a;
  color: #ffffff;
}
/* Why Developers Love DevConf section styles here */

.benefits {
  padding: 100px 0;
  background: #f8fafc;
}

.section-title {
  text-align: center;
  margin-bottom: 60px;
}

.section-title h2 {
  font-size: 3rem;
  margin-bottom: 15px;
  color: #0f172a;
}

.section-title p {
  max-width: 650px;
  margin: auto;
  color: #64748b;
  line-height: 1.8;
}

.benefit-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
}

.benefit-card {
  background: #fff;
  padding: 35px;
  border-radius: 18px;
  text-align: center;
  transition: 0.35s;
  border: 1px solid #e5e7eb;
}

.benefit-card span {
  font-size: 2.8rem;
  display: block;
  margin-bottom: 20px;
}

.benefit-card h3 {
  margin-bottom: 15px;
  color: #0f172a;
}

.benefit-card p {
  color: #64748b;
  line-height: 1.7;
}

.benefit-card:hover {
  transform: translateY(-10px);
  box-shadow: 0 18px 40px rgba(0, 0, 0, 0.08);
  border-color: #2563eb;
}

.benefits-btn {
  display: block;
  width: 220px;
  text-align: center;
  margin: 60px auto 0;
  padding: 15px;
  background: #2563eb;
  color: #fff;
  text-decoration: none;
  border-radius: 12px;
  font-weight: 600;
  transition: 0.3s;
}

.benefits-btn:hover {
  background: #1d4ed8;
}
/* Why Developers Love DevConf section styles end here */

/* Blog section styles here */

.blog {
  padding: 100px 8%;
  background: #ffffff;
}

.section-title {
  text-align: center;
  margin-bottom: 60px;
}

.section-title h2 {
  font-size: 3rem;
  color: #0f172a;
  margin-bottom: 15px;
}

.section-title p {
  max-width: 650px;
  margin: auto;
  color: #64748b;
  line-height: 1.8;
}

.blog-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(340px, 1fr));
  gap: 35px;
}

.blog-card {
  background: #fff;
  border-radius: 18px;
  overflow: hidden;

  border: 1px solid #e5e7eb;

  transition: 0.35s;
}

.blog-card:hover {
  transform: translateY(-10px);
  box-shadow: 0 18px 40px rgba(0, 0, 0, 0.08);
  border-color: #2563eb;
}

.blog-image {
  overflow: hidden;
  height: 240px;
}

.blog-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;

  transition: 0.5s;
}

.blog-card:hover img {
  transform: scale(1.08);
}

.blog-content {
  padding: 28px;
}

.blog-tag {
  display: inline-block;

  padding: 6px 14px;

  background: #dbeafe;

  color: #2563eb;

  border-radius: 50px;

  font-size: 0.8rem;

  font-weight: 600;

  margin-bottom: 18px;
}

.blog-content h3 {
  font-size: 1.45rem;

  line-height: 1.4;

  color: #111827;

  margin-bottom: 16px;
}

.blog-content p {
  color: #64748b;

  line-height: 1.8;

  margin-bottom: 25px;
}

.blog-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.blog-footer span {
  color: #94a3b8;
  font-size: 0.9rem;
}

.blog-footer a {
  text-decoration: none;
  color: #2563eb;
  font-weight: 600;
  transition: 0.3s;
}

.blog-footer a:hover {
  color: #1d4ed8;
}

.blog-btn {
  text-align: center;
  margin-top: 55px;
}

.blog-btn a {
  display: inline-block;
  text-decoration: none;
  background: #2563eb;
  color: #fff;
  padding: 16px 34px;
  border-radius: 12px;
  font-weight: 600;
  transition: 0.3s;
}

.blog-btn a:hover {
  background: #1d4ed8;
}
/* Blog section styles ends here */

/* footer section starts here */

.footer {
  background: #0d1b2a;
  color: #cbd5e1;
  padding: 80px 8% 30px;
}

.footer-content {
  display: grid;
  grid-template-columns: 2fr 1fr 1fr 1.5fr;
  gap: 60px;
}

/* Logo */

.footer-logo {
  color: #fff;
  font-size: 2rem;
  margin-bottom: 20px;
}

.footer-logo span {
  color: #2563eb;
}

.footer-column p {
  line-height: 1.9;
  color: #94a3b8;
}

/* Headings */

.footer-column h3 {
  color: #fff;
  margin-bottom: 22px;
  font-size: 1.25rem;
}

/* Lists */

.footer-column ul {
  list-style: none;
}

.footer-column ul li {
  margin-bottom: 15px;
  color: #94a3b8;
}

.footer-column ul li a {
  color: #94a3b8;
  text-decoration: none;
  transition: 0.3s;
}

.footer-column ul li a:hover {
  color: #3b82f6;
  padding-left: 6px;
}

/* Newsletter */

.newsletter-text {
  margin-bottom: 20px;
}

.footer-column form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.footer-column input {
  padding: 14px;
  border: none;
  border-radius: 8px;
  background: #16263a;
  color: #fff;
  outline: none;
}

.footer-column input::placeholder {
  color: #94a3b8;
}

.footer-column button {
  padding: 14px;
  border: none;
  background: #2563eb;
  color: #fff;
  border-radius: 8px;
  cursor: pointer;
  font-weight: 600;
  transition: 0.3s;
}

.footer-column button:hover {
  background: #1d4ed8;
}

/* Social */

.social-links {
  margin-top: 30px;
  display: flex;
  gap: 15px;
}

.social-links a {
  width: 45px;
  height: 45px;
  background: #16263a;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  color: #fff;
  text-decoration: none;
  transition: 0.3s;
  font-size: 1.1rem;
}

.social-links a:hover {
  background: #2563eb;
  transform: translateY(-5px);
}

/* Divider */

.footer hr {
  margin: 60px 0 30px;
  border: none;
  border-top: 1px solid rgba(255, 255, 255, 0.08);
}
/* Bottom */

.footer-bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-bottom p {
  color: #94a3b8;
}

.footer-policy {
  display: flex;
  gap: 30px;
}

.footer-policy a {
  color: #94a3b8;
  text-decoration: none;
  transition: 0.3s;
}

.footer-policy a:hover {
  color: #3b82f6;
}

.event-details {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
/* footer section ends here */
