/* Universal styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  /* background-color: aqua;
  border: 1px solid black; */
  /* font-weight: <weight>;
  font-style: normal; */
}
/* Common styling section(DRY) */
.color-primary {
  color: #0945eb;
  font-weight: 700;
}
.color-secondary {
  color: #575757;
  font-weight: 700;
}
.container {
  max-width: 1320px;
  margin: 0 auto;
}
.common-btn {
  background-color: #1d4ed8;
  color: white;
  border: none;
  border-radius: 0.5rem;
  padding: 10px 20px;
  cursor: pointer;
}
.common-btn:hover {
  background-color: #2563eb;
  animation: hoverAnimation 0.3s ease-in-out;
  transition: transform 0.3s ease;
  transform: translateY(-5px);
}

/* Navigation styles are here */
header {
  background-color: #d5e3f2;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  max-width: 1320px;
  margin: 0 auto;
}
ul {
  list-style: none;
  display: flex;
  gap: 20px;
}
ul li a {
  display: inline-block;
  padding: 8px 14px;
  border-radius: 0.5rem;
  color: #1f2937;
  text-decoration: none;

  transition:
    color 0.3s ease,
    background-color 0.3s ease,
    transform 0.3s ease,
    box-shadow 0.3s ease;
}

ul li a:hover {
  color: #2563eb;
  background-color: #e0f2fe;
  transform: translateY(-3px);
  box-shadow: 0 8px 20px rgba(37, 99, 235, 0.15);
}
/* Navigation styles end here */

/* Banner styles here */
.banner-secton {
  background-position: center;
  background-repeat: no-repeat;
  background:
    linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url("./assets/banner.jpg");
  background-size: cover;
  display: flex;
  padding: 1rem 1rem;
  gap: 1.5rem;
  color: white;
  height: 100vh;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.banner-secton h1 {
  font-weight: bolder;
  font-size: 5rem;
}
.banner-secton button {
  font-size: 22px;
  font-weight: 700;
  padding: 0.8rem 2.5rem;
  margin-top: 3rem;
  background-color: #1d4ed8;
  color: white;
  border: none;
  border-radius: 0.5rem;
  cursor: pointer;
}
.banner-secton button:hover {
  background-color: #2563eb;
  animation: hoverAnimation 0.3s ease-in-out;
  transition: transform 0.3s ease;
  transform: translateY(-5px);
}
/* Banner styles end here */

/* Meet the speakers styles here */
.meet-the-speaker-section-container {
  padding: 2rem 1rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  justify-content: center;
  align-items: center;
}
.meet-the-speaker-section-container h1 {
  font-size: 3rem;
  font-weight: 700;
}
.speakers-card-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1.5rem;
}
.speaker-1,
.speaker-2,
.speaker-3,
.speaker-4 {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  background-color: #d5e3f2;
  border-radius: 1rem;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
.speaker-1:hover,
.speaker-2:hover,
.speaker-3:hover,
.speaker-4:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 20px rgba(37, 99, 235, 0.15);
  transition:
    transform 0.3s ease,
    box-shadow 0.3s ease;
}

.speaker-1 img,
.speaker-2 img,
.speaker-3 img,
.speaker-4 img {
  width: 100%;
  height: auto;
  border-radius: 16px 16px 0 0;
}
.speaker-1-text,
.speaker-2-text,
.speaker-3-text,
.speaker-4-text {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

/* Meet the speakers styles end here */
